.header-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    padding-top: 10px;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
    .container{
        max-width: $maxContainerWidth;
        margin: 0px auto;
        display: flex;
        align-items: center;
        .logo{
            width: 60px;
            height: 60px;
            background-image: url("../../images/logo.svg");
            background-size: 50px;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 200ms ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
        }
        .menu-items{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family:"HN-Bold";
            .name{
                font-family: "HN-Regular";
                font-size: 28px;
                margin-right: 10px;
                letter-spacing: 2px;
            }
            .mitem{
                margin: 5px 10px;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 200ms ease;
                text-transform: uppercase;
                font-size: 16px;
                cursor: pointer;
                color: #000;
                &:hover{
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }
    }
}