.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .login-card{
        width: 390px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 55px 33px 55px;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        &:hover{
            box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
        }
        .inner-wrap{
            &.fade{
                opacity: 0.8;
            }
            .title{
                font-size: 30px;
                color: #333333;
                line-height: 1.2;
                text-align: center;
            }
            .sub{
                text-align: center;
                font-size: 25px;
                line-height: 25px;
                margin: 20px auto 80px auto;
                width: 150px;
            }
            .btn-container{
                margin-top:90px ;
                margin-bottom: 40px;
                display: flex;
                justify-content: center;
            }
        }
    }
}