.tag-container{
    position: relative;
    padding-top: 90px;
    height: 100%;
    box-sizing: border-box;
    .content-wrap{
        display: flex;
        align-items: center;
        max-width: $maxContainerWidth;
        margin: 0px auto;
        height: 100%;
        .image-wrap{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-bg{
                width: 80%;
                height: 500px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .no-img{
                font-size: 32px;
            }
        }
        .form-wrap{
            width: 380px;
            .stat-wrap{
                margin-bottom: 30px;
                font-size: 25px;
                .stats{
                    .st-item{
                        display: flex;
                        align-items: center;
                        margin: 5px 0px;
                        padding: 5px 10px;
                        &:hover{
                            background-color: rgba(0,0,0,0.1);
                        }
                        .stlbl{
                            font-size: 18px;
                        }
                        .stval{
                            flex: 1;
                            font-weight: bold;
                            font-size: 20px;
                            text-align: right;
                        }
                    }
                }
            }
            .img-tags{
                .title{
                    font-size: 24px;
                    font-family: "HN-Bold";
                    margin-bottom: 20px;
                }
                .tags{
                    display: flex;
                    flex-wrap: wrap;
                    .tag{
                        position: relative;
                        border-radius: 25px;
                        margin: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 40px 10px 20px;
                        background-color: rgba(0,0,0,0.1);
                        cursor: pointer;
                        letter-spacing: 2px;
                        transition: all 200ms ease;
                        &:hover{
                            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                        }
                        .cls{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            background-color: rgba(0,0,0,0.2);
                            border-radius: 50%;
                            right: 0px;
                            background-image: url("../../images/clear.svg");
                            background-size: 15px;
                            background-position: center;
                            background-repeat: no-repeat;
                            transition: all 100ms linear;
                            &:hover{
                                transform: rotate(90deg);
                            }
                        }
                        .ad{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            background-color: rgba(0,0,0,0.2);
                            border-radius: 50%;
                            right: 0px;
                            background-image: url("../../images/tick.svg");
                            background-size: 15px;
                            background-position: center;
                            background-repeat: no-repeat;
                            transition: all 100ms linear;
                            &:hover{
                                transform: scale(1.01);
                            }
                        }
                    }
                }
            }
            .no-tag{
                font-size: 18px;
                font-family: "HN-Bold";
            }
            .btn-wrap{
                margin-top: 40px;
            }
        }
    }
}

.dialog-wrap{
    .tag-cont{
        padding: 10px;
        .tag-lbl{
            font-size: 25px;
            text-transform: capitalize;
        }
        .tagss{
            .hello{
                margin: 5px 20px;
                &:first-child{
                    margin-left: 0px;
                }
            }
        }
    }
}