html,body{
    margin: 0;
    font-family: "HN-Regular";
    height: 100%;
}
div{
    box-sizing: border-box;
}

#root{
    height: 100%;
}
.main{
    height: 100%;
}

.form-field{
    position: relative;
    margin-bottom: 50px;
    height: 70px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    .err{
        position: absolute;
        font-size: 12px;
        color: red;
    }
    .go-btn{
        width: 100px;
        height: 100%;
        position: absolute;
        right: -1px;
        top:0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#218be6;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .inp{
        box-sizing: border-box;
        appearance: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #999;
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 5px 10px;
        padding-left: 70px;
        padding-right: 105px;
        position: relative;
        border-radius: 10px;
        background-image: url("../images/search.svg");
        background-size: 30px;
        background-position:25px 50%;
        background-repeat: no-repeat;
        color:#484848;
        &::placeholder{
            color:#484848;
        }
        &:focus{
            border-bottom-color: #0055e8;
        }
        &:valid, &:focus{
            & ~ label{
                bottom: 35px;
                color:#0055e8;
                font-size: 16px;
            }
        }
    }
    .indicator{
        position: absolute;
        right: 0px;
        bottom: -20px;
    }
    .textar{
        box-sizing: border-box;
        appearance: none;
        outline: none;
        border:none;
        border-bottom: 1px solid #999;
        width: 100%;
        resize: none;
        font-size: 20px;
        height: 40px;
        box-shadow: none;
        &:valid, &:focus{
            & ~ label{
                bottom: 45px;
                color:#0055e8;
                font-size: 16px;
            }
        }
    }

    .autocomplete-wrap{
        position: absolute;
        min-height: 50px;
        max-height: 400px;
        left: 0;
        right: 0;
        z-index: 20;
        padding: 10px 0px;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.3);
        background-color: #fff;
        overflow: auto;   
        .countries{
            padding: 10px 0px;
            .autocomplete-item{
                margin: 5px 0px;
                padding: 5px 20px;
                font-family: "Muli-Regular";
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0,0,0,0.05);
                }
            }
        }
        .no-country{
            text-align: center;
            padding: 5px 20px;
        }
    }
}

.autocomplete-wrap{
    position: absolute;
    min-height: 50px;
    max-height: 400px;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 10px 0px;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.3);
    background-color: #fff;
    overflow: auto;   
    .items{
        padding: 10px 0px;
        .autocomplete-item{
            margin: 5px 0px;
            padding: 5px 20px;
            font-family: "HN-Regular";
            font-size: 18px;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
    .no-item{
        text-align: center;
        padding: 25px 20px;
        font-size: 22px;
        font-family: "HN-Regular";
        letter-spacing: 1.5px;
    }
}